@import "../../assets/palette.scss";
@import "../../assets/images.scss";


.header {
    background-image: $header-background;
    height: 4rem;

    .notoriety {
        overflow: hidden;
        margin-left: .5rem;
        height: 4rem;
        width: 35%;
        text-align: center;
        border-radius: 5px;
      }
      
      .gauge-a {
        z-index: 1;
        position: absolute;
        background-color: rgba(255,255,255,.2);
        width: 35%;
        height: 4rem;
        top: 0%;
        border-radius: 250px 250px 0px 0px;
      }
      
      .gauge-b {
        z-index: 3;
        background-color: #00ff9d;
        width: 4rem;
        position: absolute;
        height: 2rem;
        margin-left: 1rem;
        border-radius: 0px 0px 250px 250px;
      }
      
      .gauge-c {
        z-index: 2;
        position: absolute;
        background-color: #00804f;
        width: 6em;
        height: 3em;
        top: -3rem;
        margin-right: auto;
        border-radius: 250px 250px 0px 0px;
        transform-origin: center bottom;
        transition: all 1s ease-in-out;
      }
      
      .gauge-data {
        z-index: 4;
        color: rgba(255,255,255,.2);
        font-size: 1.5em;
        line-height: 25px;
        position: absolute;
        width: 400px;
        height: 200px;
        top: 90px;
        margin-left: auto;
        margin-right: auto;
        transition: all 1s ease-out;
      }


    .notoriety {
        width: 35%;
    }

    .title {
        text-align: center;
        position: absolute;
        top: .5rem;
        right: 40%;
        left: 40%;
        width: 20%;
        margin: 0;
        user-select: none;
    }

    .scheme {
        position: absolute;
        top: 0px;
        right: .5rem;
        height: 4rem;
        width: 35%;
        text-align: center;
        border-radius: 5px;

        .status-text {
            font-size: .8rem;
            margin-top: .1rem;
            margin-bottom: .2rem;
            user-select: none;
        }

        .scheme-bar-container {
            margin-top: .25rem;
            text-align: center; 
            display: inline-block; 
            width: 100%;
            position: relative;
            height: 2rem;
            border-radius: 0 .5rem .5rem 0;

            .scheme-progress-bar {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 1.9rem;
                border-radius: 0 .5rem .5rem 0;
            }

            .scheming {
                background-color: $scheming-primary;
            }
    
            .henchmen {
                background-color: $henchmen-primary;
            }
    
            .operations {
                background-color: $operations-primary;
            }
    
            .lairs {
                background-color: $lairs-primary;
            }

            .scheme-icon {
                font-size: 1.9rem;
                padding-top: 1px;
                z-index:100;
                position:relative;
            }
        }

        .scheming {
            border: 1px solid $scheming-primary;
        }

        .henchmen {
            border: 1px solid $henchmen-primary;
        }

        .operations {
            border: 1px solid $operations-primary;
        }

        .lairs {
            border: 1px solid $lairs-primary;
        }
    }
}
