<div class="header">
    <div class="notoriety"></div>
    <div>
        <p class="title">Bad Guy</p>
    </div>
    <div class="scheme" [ngStyle]="schemeStyle()" (click)="_scheming.switchToCurrentSchemePreview()">
        <div *ngIf="_scheming.earningSchemePoints">
            <p class="status-text">Scheming</p>
            <div class="scheme-bar-container" [ngClass]="schemeTreeClass()">
                <i style="z-index: -1" class="scheme-icon fa {{_player.currentScheme.fa}}" aria-hidden="true"></i>
                <div class="scheme-progress-bar" [ngStyle]="schemeProgressBarStyle()" [ngClass]="schemeTreeClass()"></div>
            </div>
        </div>
        <div *ngIf="!_scheming.earningSchemePoints">
            <p class="status-text">Not Scheming</p>
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
    </div>
</div>
