@import "../../assets/palette.scss";
@import "../../assets/images.scss";


.header {
    background-image: $header-background;
    height: 4rem;

    .notoriety {
        width: 35%;
    }

    .title {
        text-align: center;
        position: absolute;
        top: .5rem;
        right: 40%;
        left: 40%;
        width: 20%;
        margin: 0;
        user-select: none;
    }

    .scheme {
        position: absolute;
        top: 0px;
        right: .5rem;
        height: 4rem;
        width: 35%;
        text-align: center;
        border-radius: 5px;

        .status-text {
            font-size: .8rem;
            margin-top: .1rem;
            margin-bottom: .2rem;
            user-select: none;
        }

        .scheme-bar-container {
            margin-top: .25rem;
            text-align: center; 
            display: inline-block; 
            width: 100%;
            position: relative;
            height: 2rem;
            border-radius: .5rem;

            .scheme-progress-bar {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 2rem;
                border-radius: .5rem;
            }

            .scheming {
                background-color: $scheming-primary;
            }
    
            .henchmen {
                background-color: $henchmen-primary;
            }
    
            .operations {
                background-color: $operations-primary;
            }
    
            .lairs {
                background-color: $lairs-primary;
            }

            .scheme-icon {
                font-size: 1.9rem;
                padding-top: 1px;
            }
        }

        .scheming {
            border: 1px solid $scheming-primary;
        }

        .henchmen {
            border: 1px solid $henchmen-primary;
        }

        .operations {
            border: 1px solid $operations-primary;
        }

        .lairs {
            border: 1px solid $lairs-primary;
        }
    }
}
