<div class="header" *ngIf="!_base.initialLoadSchemes">
    <div class="notoriety-container">
        <p style="position:absolute;font-size:.8rem;">Notoriety {{_heroes.notorietyTier}}</p>
        <p style="position:absolute;font-size:.8rem;right:65%;">{{_heroes.notorietyTierName}}</p>
        <div class="notoriety-gauge">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
            <p>{{_base.notoriety}}</p>
        </div>
        <div class="notoriety-meter" [ngStyle]="notorietyRotationStyle()"></div>
    </div>
    <div>
        <p style="cursor:pointer;" (click)="_system.save()" class="main-title">Bad Guy</p>
        <i (click)="_base.notorietyPlus()" style="position:absolute;top:3rem;left:37%;cursor:pointer;" class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="scheme-container" >
            <i (click)="cookieService.deleteAll()" style="position:absolute;top:.1rem;left:.2rem;color:#00804f;font-size:1.2rem;cursor:pointer;" class="fa fa-question" aria-hidden="true"></i>
        <div *ngIf="_base.earningSchemePoints">
            <p class="scheme-title">Scheming</p>
            <div class="scheme-bar-container {{_base.currentScheme.tree}}" [ngStyle]="schemeStyle()" (click)="_scheming.switchToCurrentSchemePreview()">
                <i class="scheme-icon fa {{_base.currentScheme.fa}}" aria-hidden="true"></i>
                <div class="scheme-progress-bar {{_base.currentScheme.tree}}" [ngStyle]="schemeProgressBarStyle()"></div>
            </div>
        </div>
        <div *ngIf="!_base.earningSchemePoints">
            <p style="padding-bottom:.25rem;" class="scheme-title">Not Scheming</p>
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
    </div>
</div>