@import "../assets/palette.scss";
@import "../assets/images.scss";
@import "../assets/constants.scss";

p {
    margin: 0 auto;
}

//Header
.header {
    background-image: $header-background;
    height: $header-height;

    .notoriety-container {
        overflow: hidden;
        margin-left: .5rem;
        height: $header-height;
        width: 35%;
        text-align: center;
        border-radius: 5px;

        .notoriety-gauge {
            background-color: $notoriety-1-light;
            z-index: 2;
            width: 6rem;
            position: relative;
            height: 3rem;
            margin: 0 auto;
            margin-top: 1rem;
            border-radius: 250px 250px 0px 0px;
            user-select: none;
    
            .fa {
                margin-top: .5rem;
            }
        }

        .notoriety-meter {
            background-color: $notoriety-1-strong;
            z-index: 1;
            position: relative;
            width: 8rem;
            height: 4rem;
            margin: 0 auto;
            border-radius: 0px 0px 250px 250px;
            transform-origin: center top;
            transition: all 1s ease-in-out;
          }
    }
    
    .main-title {
        text-align: center;
        position: absolute;
        top: .5rem;
        right: 40%;
        left: 40%;
        width: 20%;
        margin: 0;
        user-select: none;
        font-size: 2rem;
    }
    
    .scheme-container {
        position: absolute;
        top: 0px;
        right: .5rem;
        height: $header-height;
        width: 35%;
        text-align: center;
        border-radius: 5px;
    
        .scheme-title {
            font-size: .8rem;
            margin-bottom: .2rem;
            user-select: none;
        }
    
        .scheme-bar-container {
            margin-top: .25rem;
            text-align: center; 
            display: inline-block; 
            width: 100%;
            position: relative;
            height: 2rem;
            border-radius: 0 .5rem .5rem 0;
    
            .scheme-progress-bar {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 1.9rem;
                border-radius: 0 .5rem .5rem 0;
            }
    
            .scheming {
                background-color: $scheming-primary;
            }
    
            .henchmen {
                background-color: $henchmen-primary;
            }
    
            .operations {
                background-color: $operations-primary;
            }
    
            .lairs {
                background-color: $lairs-primary;
            }
    
            .scheme-icon {
                font-size: 1.9rem;
                padding-top: 1px;
                z-index:100;
                position:relative;
            }
        }
    
        .scheming {
            border: 1px solid $scheming-primary;
        }
    
        .henchmen {
            border: 1px solid $henchmen-primary;
        }
    
        .operations {
            border: 1px solid $operations-primary;
        }
    
        .lairs {
            border: 1px solid $lairs-primary;
        }
    }
    
}

//Main Section (app.componen.html)
.main-section {
    background-color: $main-section-background-color;
    background-image: $main-background;
    height: 80vh;
    position: absolute;
    width: 100%;
    z-index:10;

    .resources-bar {
        user-select: none;
        height: 2rem;
        border-top: solid .75px;

        .resource-tab {
            margin-left: 0.1rem;
            display: inline-block;
            border-radius:0 0 .5rem .5rem; 
            padding-right: .2rem; 
            padding-bottom: .2rem; 
            padding-left: .2rem; 
            border-top:none;

            .resource-readout {
                display: inline-block;
            }
        }

        .lair {
            margin-left: 0.5rem;
            border: 1px solid $lairs-secondary;
            color: $lairs-primary;
        }

        .cash {
            border: 1px solid $cash-secondary;
            color:  $cash-primary;
        }

        .henchmen {
            border: 1px solid $henchmen-secondary;
            color: $henchmen-primary;
        }

        .guard {
            border: 1px solid $guard-weak;
            color: $guard-strong;
        }
    }

    
}

.activity-panel {
    
}



