<header></header>
<div class="skulls_pattern" style="height:100vh;">
  <h2 style="margin-top:0;">Available Schemes:</h2>
  <div *ngFor="let scheme of schemes; let i = index">
    <button style="text-align: center; border: 1px solid green; display:inline; cursor: pointer;"
      [disabled]="scheme['lair_req'][this._player.schemes[i]['level']] > this._player.lairLevel" (click)="selectScheme(scheme, i)">
      <p>
        <i class="fa {{scheme.fa}}" aria-hidden="true"></i>
        <strong>{{scheme.name}}</strong> {{(_player.schemes[i]['level']*1) + 1}}
        <br>
        <span>{{_player.schemes[i]['exp']}}/{{scheme['exp'][_player.schemes[i]['level']*1]}}</span>
      </p>

    </button>
  </div>
</div>