/* Henchmen Colors */
//Weak: 90%
//Strong: 30%

//Guards
$guard-weak : #ccccff;
$guard-strong: #000099;

//Help Wanted
$help-wanted-weak:  #ccddff;
$help-wanted-strong: #003399;

/*Scheme Tree Colors */
//Primary: 50%

$scheming-primary: #40ff00;

$henchmen-primary: #6699ff;

$operations-primary: #ffb366;

$lairs-primary: #000000;