@import "../../assets/palette.scss";

.activity-panel {
    @media all and (max-width:459px) {
        width: 100%;
    }

    .henchmen-column {

        .title {

        }
    
        .left-padding {

        }
        
        .add-column {
            
            .add-block {
                
            }
    
        }

        .progress-column {

            .training-container {

                .progress-bar {
                    
                }
    
                .training-display {
    
                    .generation-icon {

                    }
    
                    .collection-icon {

                    }
                }
            }

            //Specific Colors:
            .guard-training-container {


                .guard-progress-bar {

                }

                .guard-training-display {

                }
            }
        }

        .progress-no-add-column {

            .recruitment-container {

                .progress-bar {

                }

                .recruitment-display {

                    .generation-icon {

                    }

                    .collection-icon {
                        
                    }
                }
            }

            .help-wanted-container {
                
                
                .help-wanted-progress-bar {
                    
                }

                .help-wanted-display {
                    
                }
            }
        }
    }
    .operations-column {
        

        .left-padding {
            
        }

        .routine-tab {

        }

        .campaign-tab {

        }

        .ascension-tab {

        }

        .divider-5 {

        }

        .heists-row {
            

            .column {

                .fa {
                    
                }
            }

            
        }

        .operation-flyout {
        
            .inner-content {            
        
                .operation-name {

                    .operation-icon {
                        
                    }
                }
        
                .flyout-text {
                    
                    .flyout-icon {
                        
                    }
                }

                .secondary {
                    margin-top:.1rem;
                }

                
            }
        }
    }
}

.tab-icon {
    margin-top: .5rem;
}