<div class="activity-panel">
    <div class="henchmen-column">
        <p class="title" *ngIf="_training.areAnyUnlocked()">Training</p>
        <div *ngFor="let Training of _player.training; index as i">
            <div class="left-padding" *ngIf="_training.isUnlockedById(i)"></div>
            <div class="add-column" *ngIf="_training.isUnlockedById(i)">
                <div class="add-block">
                    <i class="add-to-queue-icon fa fa-plus" aria-hidden="true" (click)="_training.trainById(i)" [ngStyle]="addToQueueIconStyle(i)"></i>
                </div>
            </div>
            <div *ngIf="_training.isUnlockedById(i)" class="progress-column">
                <div [ngClass]="containerClass(i, 'training')" (click)="_training.collectById(i)" [ngStyle]="containerStyle(i, 'training')">
                    <div [ngClass]="progressBarClass(i, 'training')" [ngStyle]="styleProgressBar(i, 'training')"></div>
                    <p [ngClass]="displayClass(i, 'training')">
                        <i class="generation-icon fa faa-slow faa-flash animated {{_training.getFaById(i)}}" aria-hidden="true" [ngStyle]="collectingIconStyle(i, 'training')"></i>
                        {{_training.getUpgradeNameById(i)}}
                        <i class="collection-icon fa faa-slow animated {{_training.getFaById(i)}}" aria-hidden="true" [ngStyle]="collectionIconStyle(i, 'training')"
                            [ngClass]="collectionIcon(i, 'training')"></i>
                    </p>
                </div>
            </div>
        </div>
        <p class="title" *ngIf="_recruiting.areAnyUnlocked()">Recruitment</p>
        <div *ngFor="let Recruiting of _player.recruiting; index as i">
            <div class="left-padding"></div>
            <div *ngIf="_recruiting.isUnlockedById(i)" class="progress-no-add-column">
                <div [ngClass]="containerClass(i, 'recruiting')" (click)="_recruiting.collectById(i)" [ngStyle]="containerStyle(i, 'recruiting')">
                    <div [ngClass]="progressBarClass(i, 'recruiting')" [ngStyle]="styleProgressBar(i, 'recruiting')"></div>
                    <p [ngClass]="displayClass(i, 'recruiting')" class="help-wanted-display">
                        <i class="generation-icon fa faa-slow faa-flash animated {{_recruiting.getFaById(i)}}" aria-hidden="true" [ngStyle]="collectingIconStyle(i, 'recruiting')"></i>
                        {{_recruiting.getRecruitmentNameById(i)}}
                        <i class="collection-icon fa faa-slow animated {{_recruiting.getFaById(i)}}" aria-hidden="true" [ngStyle]="collectionIconStyle(i, 'recruiting')"
                            [ngClass]="collectionIcon(i, 'recruiting')"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--In progress: -->
    <div class="operations-column" *ngIf="_operating.areAnyUnlocked()">
        <div class="left-padding"></div>
        <div class="routine-tab" [ngStyle]="{'visibility': _operating.areRoutineOpsUnlocked() ? 'initial' : 'hidden'}">
            <i class="fa fa-certificate tab-icon" aria-hidden="true"></i>
        </div>
        <div class="campaign-tab" [ngStyle]="{'visibility': _operating.areCampaignOpsUnlocked() ? 'initial' : 'hidden'}">
            <i class="fa fa-book tab-icon" aria-hidden="true"></i>
        </div>
        <div class="ascension-tab" [ngStyle]="{'visibility': _operating.areAscensionOpsUnlocked() ? 'initial' : 'hidden'}">
            <i class="fa fa-rocket tab-icon" aria-hidden="true"></i>
        </div>
        <div class="divider-5"></div>
        <div class="divider-5"></div>
        <div class="heists-row" *ngIf="_player.schemes[6]['level'] > 0">
            <div class="column" (click)="_operating.operationPreview(0)" [ngStyle]="{'cursor': _player.operating[0]['available'] ? 'pointer' : 'initial' }">
                <i class="fa fa-usd" aria-hidden="true" [ngClass]="{'faa-tada' : _player.operating[0]['available'], 'faa-slow' : _player.operating[0]['available'], 'animated' : _player.operating[0]['available'] }"
                    [ngStyle]="{'color': _operating.getFaColorById(0)}"></i>
            </div>
            <div class="column">
                <i class="fa fa-lock" aria-hidden="true" [ngStyle]="{'color': _operating.getFaColorById(1)}"></i>
            </div>
            <div class="column">
                <i class="fa fa-lock" aria-hidden="true" [ngStyle]="{'color': _operating.getFaColorById(2)}"></i>
            </div>
            <div class="column">
                <i class="fa fa-lock" aria-hidden="true" [ngStyle]="{'color': _operating.getFaColorById(3)}"></i>
            </div>
            <div class="column">
                <i class="fa fa-lock" aria-hidden="true" [ngStyle]="{'color': _operating.getFaColorById(4)}"></i>
            </div>
        </div>
        <div class="divider-5"></div>
        <div *ngIf="_operating.showPreview" class="operation-flyout">
            <div class="inner-content" [ngStyle]="{'color': _operating.getFaColorByRarity(_operating.previewOperation['rarity'])}">
                <p class="operation-name" style="width:100%"><i class="operation-icon fa fa-usd" aria-hidden="true" style="margin-right:.2rem;"></i>Steal Candy from Children. Sell Candy</p>
                <div class="split" style="margin-top:.5rem;display:inline-block;width:48%">
                    <p class="flyout-text" style="float:right;">
                        Requires:</p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:left;">{{_operating.previewOperation['henchmen']}}
                        <i class="flyout-icon fa fa-user" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:right;">
                        Risk:</p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:left;">{{_operating.previewOperationRiskDisplay()}}%
                    </p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:right;">
                        Rewards:</p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:left;">{{_operating.previewOperation['reward']}}
                        <i class="flyout-icon fa fa-money" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:right;">
                        Success:</p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:left;">{{_operating.previewOperation['success']*100}}%
                    </p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:right;">
                        Notoriety:</p>
                </div>
                <div class="split" style="display:inline-block;width:48%">
                    <p class="flyout-text" style="float:left;">{{_operating.previewOperation['notoriety']}}
                        <i class="flyout-icon fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </p>
                </div>
                





                
                

            </div>

        </div>


    </div>

</div>