.activity-panel {
    width: 50%;
    height: 100vh;
    @media all and (max-width:459px) {
        width: 100%;
    }

    .help-wanted-container {
        margin-top: .1em;
        width: 50%;
        height: 1.2em;
        border: 1px solid #ccddff;
        border-radius: 0px 15px 15px 0px;
        margin-left: .25em;
        cursor: pointer;

        .help-wanted-progress-bar {
            border-radius: 0px 15px 15px 0px;
            position: absolute;
            top: 4.15em;
            height: 1.2em;
            background-color: #ccddff;

        }

        .wide {
            @media all and (min-width:640px) {
                display: block;
            }
            @media all and (max-width:639px) {
                display: block;
            }
            @media all and (max-width:459px) {
                display: none;
            }
            @media all and (max-width:399px) {
                display: none;
            }
        }

        .narrow {
            @media all and (min-width:640px) {
                display: none;
            }
            @media all and (max-width:639px) {
                display: none;
            }
            @media all and (max-width:459px) {
                display: block;
            }
            @media all and (max-width:399px) {
                display: block;
            }
        }
        

        .help-wanted-display {
            font-size: .8em;
            width: 100%;
            margin-top: .1em;
            margin: 0;
            position: relative;
            @media all and (max-width:639px) {
                font-size: .6em;
                margin-top: .2em;
            }
            @media all and (max-width:459px) {
                font-size: .8em;
                margin-top: .1em;
            }
            @media all and (max-width:399px) {
                font-size: .5em;
                margin-top: .4em;
            }

            .help-wanted-generation-icon {
                min-width: 10px;
                float: left;
                margin-left: .5em;
                margin-top: .3em;
                margin-right: 1em;
                @media all and (max-width:639px) {
                    font-size: .9em;
                    margin-top: .25em;
                    margin-right: .8em;
                }
                @media all and (max-width:459px) {
                    margin-top: .25em;
                }
                @media all and (max-width:399px) {
                    font-size: .9em;
                    margin-top: .1em;
                }
            }

            .help-wanted-collection-icon {
                float: right;
                margin-right: .5em;
                margin-top: .3em;
                @media all and (max-width:639px) {
                    font-size: .9em;
                    margin-top: .25em;
                }
                @media all and (max-width:459px) {
                    margin-top: .25em;
                }
                @media all and (max-width:399px) {
                    font-size: .9em;
                    margin-top: .1em;
                }
            }
        }
    }
}